:root {
    --bs-dark: #10171D;
    --bs-dark-rgb: 16, 23, 29; 
}
body {
    background-color: var(--bs-dark) !important;
    font-family: 'Lato', sans-serif !important;
}
a {
    text-decoration: none !important;
}
main {
    background-color: #0b0e13 !important;
    color: white !important;
    padding: 20px 0;
}
.card {
    border: 0 !important;
}
.object-fit-cover {
    object-fit: cover;
}
.img-filter-darken {
    filter: brightness(0.5);
}
.text-shadow {
    text-shadow: 2px 2px 10px #000;
}
.hover-light:hover {
    background-color: #dbdbdb;
    transition-duration: .2s;
}
.hover-dark:hover {
    background-color: #0b0e13 !important;
    transition-duration: .2s;
}
.hover-text-light:hover {
    color: red;
    transition-duration: .2s; 
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}
.cursor-not-allowed {
    cursor: not-allowed;
}
.cursor-none {
    cursor: none;
}
.cursor-text {
    cursor: text;
}